<% provide(:title, "重寄認證信") %>
<div class="bs-docs-section jumbotron">
  <div class="row">
    <h1 id="forms" class="text-center m-title"><strong>重寄認證信</strong></h1>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="well bs-component">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email, "學校信箱", class: 'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <%= f.submit "送出", class: "btn btn-lg m-btn" %>
            </div>
          </div>
        <% end %>

        <div class="col-lg-offset-2">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>