<div class="bs-docs-section jumbotron">
  <div class="row">
    <h2 id="forms" class="h1 text-center m-title"><strong>更改密碼</strong></h2>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="well bs-component">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch, class: "form-horizontal" }) do |f| %>

          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :current_password, "舊密碼", class: 'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.password_field :current_password, autofocus: true, autocomplete: "off", class: 'form-control' %>
              </div>
          </div>
          <div class="form-group">
            <%= f.label :password, "新密碼", class: 'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "確認新密碼", class: 'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
              </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <%= f.submit "送出", class: "btn btn-lg m-btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>