<form class="search-form">
  <div class="jumbotron">
    <div class="form-group">
      <label for="by_title">課程名稱</label>
      <input type="text" class="form-control" id="by_title" placeholder="課程名稱" name="by_title" value="<%= params[:by_title] %>">
    </div>
    <div class="form-group">
      <label for="by_department">開課系級</label>
      <input type="text" class="form-control" id="by_department" placeholder="開課系級" name="by_department" value="<%= params[:by_department] %>">
    </div>
    <div class="form-group">
      <label for="by_instructor">授課教師</label>
      <input type="text" class="form-control" id="by_instructor" placeholder="授課教師" name="by_instructor" value="<%= params[:by_instructor] %>">
    </div>
    <div data-toggle="buttons" class="search-buttons">
      <% %w(天 人 物 我 宗哲 人哲 歷史 體育 公民 英聽 文學 軍訓 科技).each do |name| %>
        <% active, display_name = category_button(name) %>
        <label class="btn btn-warning mg-b-10 <%= 'active' if active %>">
          <input type="checkbox" name="by_category[]" value="<%= name %>" <%= 'checked' if active %>>
          <%= display_name %>
        </label>
      <% end %>
    </div>
    <div class="filter-checkbox checkbox">
      <label class="m-label-checkbox"><input type="checkbox" name="show_all" value="true" <%= 'checked' if params[:show_all] %>>顯示未開課程</label>
      <label class="m-label-checkbox"><input type="checkbox" name="cross_department" value="true" <%= 'checked' if params[:cross_department] %>>僅顯示跨系課</label>
      <label class="m-label-checkbox"><input type="checkbox" name="optional" value="true" <%= 'checked' if params[:optional] %>>僅顯示選修課</label>
      <% if user_signed_in? %>
        <label class="m-label-checkbox"><input type="checkbox" class="hide-passed-courses" name="hide_passed_courses" value="true" <%= 'checked' if params[:hide_passed_courses] %>>隱藏修過課程</label>
        <label class="m-label-checkbox"><input type="checkbox" class="apply_time_filter" name="apply_time_filter" value="true" <%= 'checked' if params[:apply_time_filter] %>>隱藏衝堂課程</label>
      <% else %>
        <label class="m-label-checkbox disabled"><input type="checkbox" disabled>隱藏修過課程
        <span class="label label-info">需登入</span></label>
        <label class="m-label-checkbox disabled"><input type="checkbox" disabled>隱藏衝堂課程
        <span class="label label-info">需登入</span></label>
      <% end %>
    </div>
    <div class="btn-submit">
      <button type="submit" class="btn btn-lg btn-block m-btn">查詢</button>
    </div>
  </div>
</form>
