<div class="row" >
  <div class="col-md-4">
    <div class="fixed-aside">
      <%= render 'search_form' %>
    </div>
  </div>
  <div class="col-md-8 search-result">
    <section class="row mg-lr-xs-2">
      <h1>課程查詢結果</h1><hr>
      <dl class="panel-group" id="courseInfoList" role="tablist" aria-multiselectable="true">
        <% @courses.each do |course| %>
        <dd class="panel panel-info">
          <h1 class="sr-only"><%= course.title %></h1>
          <section id="heading_<%= course.id %>" class="panel-heading" role="tab">
            <header clas="panel-title">
              <ul class="course-info list-unstyled mg-b-10 clearfix">
                <li class="col-xs-6 col-sm-3">
                  <i class="glyphicon glyphicon-star" aria-hidden="true"></i>
                  <span class="superscript-title">Rank#</span>
                  <h2><%= course.rank %></h2>
                </li>
                <li class="col-xs-6 col-sm-3">
                  <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                  <span class="superscript-title">課程名稱</span>
                  <h2><%= course.title %></h2>
                </li>
                <li class=" col-xs-6 col-sm-3">
                  <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                  <span class="superscript-title">授課教師</span>
                  <h2><%= course.instructor %></h2>
                </li>
                <li class="col-xs-6 col-sm-3">
                  <i class="glyphicon glyphicon-tag" aria-hidden="true"></i>
                  <span class="superscript-title">課程類別</span>
                  <h2><%= course.category %></h2>
                </li>
                <li class="col-xs-12">
                  <li class="col-xs-6 col-sm-9">
                    <button type="button" class="btn btn-success mg-t-10" aria-label="推"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 推</button>
                    <button type="button" class="btn btn-danger mg-t-10" aria-label="噓"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 噓</button>
                  </li>
                  <li class="col-xs-6 col-sm-3">
                    <a href="#<%= course.instructor %>_<%= course.id %>" class="btn btn-primary mg-t-10" data-toggle="collapse" data-parent="#courseInfoList" aria-expanded="true" aria-controls="<%= course.instructor %>_<%= course.id %>">開課資訊</a>
                  </li>
                </li>
              </ul>
            </header>
          </section>
          <section id="<%= course.instructor %>_<%= course.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelby="heading_<%= course.id %>">
            <h1 class="sr-only">開課資訊</h1>
            <article class="panel-body">
              <table class="table table-hover table-striped">
                <thead>
                  <tr class="">
                    <th>課程代碼</th>
                    <th>上課時段</th>
                    <th>學分數</th>
                    <th>開課系級</th>
                    <th>追蹤課程</th>
                  </tr>
                </thead>
                <tbody>
                  <% course.entries.each do |entry| %>
                  <tr>
                    <td><%= entry.code %></td>
                    <td><%= entry.time %></td>
                    <td><%= entry.credit %></td>
                    <td><%= entry.department %></td>
                    <td><a class="btn btn-sm btn-default">追蹤課程</a></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </article>
          </section>
          <footer class="panel-footer">
          </footer>
        </dd>
        <% end %>
      </dl>
    </section>
    <div class="text-center">
      <%= paginate @courses, :window => 2 %>
    </div>
  </div>
</div>
