<section class="course-details">
  <h1 class="m-title text-center"><strong><%= @course.title %></strong></h1>
  <aside class="col-md-4">
    <h1 class="h2 text-center">基本資訊</h1>
    <dl class="info-list list-group dl-horizontal">
      <dt class="info-title">課程分類</dt>
      <dd class="info-item"><%= @course.category %></dd>
      <dt class="info-title">授課教師</dt>
      <dd class="info-item"><%= @course.instructor %></dd>
      <dt class="info-title">課程評分</dt>
      <dd class="info-item"><%= @course.score %></dd>
      <dt class="info-title">投票人數</dt>
      <dd class="info-item"><%= @course.votes_count %></dd>
    </dl>
  </aside>
  <article class="col-md-8">
    <h1 class="h2 text-center">開課資訊</h1>
    <% @course.entries.each do |entry| %>
    <dl class="info-list list-group dl-horizontal">
      <dt class="info-title">
        <p><%= entry.code %></p>
        <p><%= entry.timestring %></p>
      </dt>
      <dd class="info-item">
        <p>學分數：<%= entry.credit %></p>
        <p>開課系級：<%= entry.department %></p>
        <p>跨系：<%= entry.cross_department %></p>
        <p>跨部：<%= entry.cross_graduate %></p>
        <p>可退選：<%= entry.quittable %></p>
        <p>必修：<%= entry.required %></p>
        <p>備註：<%= entry.note %></p>
        <p><a class="btn btn-sm m-btn-check follow">追蹤<span class="fa fa-heart"></span></a></p>
      </dd>
    </dl>
    <% end %>
  </article>
  <article>
    <h1 class="h2 text-center">課程評論</h1>
    <% cache [@course, current_user] do %>
      <%= render 'courses/comments/index', course: @course, cache: true %>
    <% end %>
  </article>
</section>
