<% provide(:title, "#{@course.title}(#{@course.instructor})") %>
<section class="course-details" itemscope itemtype="http://schema.org/EducationEvent">
  <h1 class="m-title text-center" itemprop="name"><strong><%= @course.title %></strong></h1>
  <meta itemprop="startDate" content="1970-01-01">
  <div itemprop="location" itemscope itemtype="http://schema.org/Place">
    <meta itemprop="name" content="中原大學">
    <meta itemprop="address" content="桃園市中壢區中北路200號">
  </div>
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="<%= (course.votes_count != 0) ? course.score.to_f/course.votes_count : 0 %>">
    <meta itemprop="bestRating" content="1">
    <meta itemprop="worstRating" content="-1">
    <meta itemprop="ratingCount" content="<%= @course.votes_count %>">
  </div>
  <aside class="col-md-4">
    <h2 class="text-center">基本資訊</h2>
    <dl class="info-list list-group dl-horizontal">
      <dt class="info-title">課程分類</dt>
      <dd class="info-item"><%= @course.category %></dd>
      <dt class="info-title">授課教師</dt>
      <dd class="info-item"><span itemprop="performer" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= @course.instructor %></span></span></dd>
      <dt class="info-title">課程評分</dt>
      <dd class="info-item"><%= @course.score %></dd>
      <dt class="info-title">投票人數</dt>
      <dd class="info-item"><%= @course.votes_count %></dd>
    </dl>
  </aside>
  <article class="col-md-8">
    <h2 class="text-center">開課資訊</h2>
    <% @course.entries.each do |entry| %>
    <dl class="info-list list-group dl-horizontal">
      <dt class="info-title">
        <p><%= entry.code %></p>
        <p><%= entry.timestring %></p>
      </dt>
      <dd class="info-item">
        <p>學分數：<%= entry.credit %></p>
        <p>開課系級：<%= entry.department %></p>
        <p>跨系：<%= course_status( entry.cross_department ) %></p>
        <p>跨部：<%= course_status( entry.cross_graduate ) %></p>
        <p>可退選：<%= course_status( entry.quittable ) %></p>
        <p>必修：<%= course_status( entry.required ) %></p>
        <p>備註：<%= entry.note %></p>
        <p><%= link_to users_favorite_courses_path(favorite_course: entry.code), class: "btn btn-sm m-btn-check follow btn-follow-course #{fav_course_status(entry.code)}", method: :post, remote: true do %>
          追蹤
          <span class="fa fa-heart"></span>
          <% end %>
        </p>
      </dd>
    </dl>
    <% end %>
  </article>
  <article>
    <p class="h2 text-center">課程評論</p>
    <% cache [@course, current_user] do %>
      <%= render 'courses/comments/index', course: @course, cache: true %>
    <% end %>
  </article>
</section>
