<nav class="navbar-fixed-top" data-no-turbolink>
  <div class="container">
    <h1><a href="/">中原選課大全</a><span class="sr-only">導覽列</span></h1>
    <button class="nav-btn visible-xs">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <ul class="nav-list text-right">
      <li class="nav-item hover-effect"><%= link_to '課程查詢', courses_path %></li>
      <li class="nav-item hover-effect"><a href="https://www.facebook.com/CourseNote" target="_blank">粉絲專頁</a></li>

      <% if user_signed_in? %>
        <li class="dropdown nav-item">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><%= current_user.email %> <span class="caret"></span></a>

          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><%= link_to '已追蹤課程', users_favorite_courses_path%></li>
            <li><%= link_to '已修過課程', users_passed_courses_path%></li>
            <li><%= link_to '時間表', users_time_filter_path%></li>
            <li><%= link_to '更改密碼', edit_user_registration_path%></li>
            <li><%= link_to '登出', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item hover-effect"><%= link_to '登入', new_user_session_path %></li>
        <li class="nav-item hover-effect"><%= link_to '註冊', new_user_registration_path %></li>
      <% end %>
      <li class="nav-item hover-effect"><%= link_to '回首頁', root_path %></li>
    </ul>

  </div>
</nav>
