<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title><%= concat_title('中原選課大全', yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//raw.githubusercontent.com/aFarkas/html5shiv/master/dist/html5shiv.min.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>
<h1 class="sr-only">中原選課大全</h1>
<%= render 'common/github' %>

<%= render 'common/navbar' %>

<div class="wrapper">
  <div class="container">
    <%= render_flash('notice', '公告：系統維護人員招募中，意者請洽粉絲頁。', false) %>
    <%= display_flash! %>

    <%= yield %>
  </div>
</div>

<a href="#" class="totop"><span>Top</span></a>

<%= render 'common/footer' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
